main {
    max-width: 70rem;
    margin:  1rem auto;
    /*auto permite que o main fique no centro*/
    /*Valor 1 indica em cima e em baixo e valor 2 indica os lados*/
    display: grid;
    gap: 1rem;
    /*GAP: Assim como  o flex, define o espaçamento entre áreas*/
    grid-template-columns: 1fr 2fr 1fr; 
    /*A A qauntidade de valores deve  ser igual a qauntidade de COLUNAS/
    /*grid-template-columns: define a LARGURA da coluna*/
    /*unidade fr: fração*/
    /*posso usar a unidade 'fr' e as outras unidades*/
    grid-template-rows: 10rem 10rem; 
    /*grid-template-rows: define a ALTURA das linhas, porém cuidado porque alatura ficará limitada!
    A qauntidade de valores deve ser igual a qauntidade de LINHAS*/

    grid-template-areas:
        "a a"
        "b c"
        /*Matriz*/
        /*A variável não pode ter só número nem começar por número. Também não pode ter espaço e caracteres especiais*/
        /*Todas as variáveis devem estar na matriz*/
}

section {
    border: 1px solid black;
    padding: 1 rem;
    overflow: auto; /*Possibilita a barra de rolagem*/
}

section.noticias {
    grid-area: a;
    /*A definição de área é realizada com a tag de grid-area - nomeação de células*/
}

section.comemoracao {
    grid-area: b;
}

section.organizadores {
    grid-area: c;
}

section.corrida {
    grid-area: d;
}